In [23]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder.getOrCreate()

In [26]:
df_pyspark = spark.read.csv('test4.csv',header = True,inferSchema = True)
df_pyspark.show()
df_pyspark.printSchema()

+------+----+----------+------+
|  Name|Age |Experience|Salary|
+------+----+----------+------+
| Rohan|  23|         4| 30000|
| Varun|  25|         5| 22500|
|Tushar|  24|         6| 32000|
|Vishal|  22|         2| 10000|
|Chirag|  20|         4| 50000|
| Mohit|  26|         5| 45000|
| Soham|  22|         6| 65000|
+------+----+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [27]:
df_pyspark.show()

+------+----+----------+------+
|  Name|Age |Experience|Salary|
+------+----+----------+------+
| Rohan|  23|         4| 30000|
| Varun|  25|         5| 22500|
|Tushar|  24|         6| 32000|
|Vishal|  22|         2| 10000|
|Chirag|  20|         4| 50000|
| Mohit|  26|         5| 45000|
| Soham|  22|         6| 65000|
+------+----+----------+------+

In [28]:
#filter operations in pyspark

In [40]:
df_pyspark.show()

+------+----+----------+------+
|  Name|Age |Experience|Salary|
+------+----+----------+------+
| Rohan|  23|         4| 30000|
| Varun|  25|         5| 22500|
|Tushar|  24|         6| 32000|
|Vishal|  22|         2| 10000|
|Chirag|  20|         4| 50000|
| Mohit|  26|         5| 45000|
| Soham|  22|         6| 65000|
+------+----+----------+------+

In [45]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=40000").select(['Name','Age ']).show()

+------+----+
|  Name|Age |
+------+----+
| Rohan|  23|
| Varun|  25|
|Tushar|  24|
|Vishal|  22|
+------+----+

In [49]:
df_pyspark.filter("Experience<=4").show()
#select(['Name','Age ']).show()

+------+----+----------+------+
|  Name|Age |Experience|Salary|
+------+----+----------+------+
| Rohan|  23|         4| 30000|
|Vishal|  22|         2| 10000|
|Chirag|  20|         4| 50000|
+------+----+----------+------+

In [51]:
df_pyspark.filter((df_pyspark['Salary'] <= 2000) | (df_pyspark['Experience'] <= 3)) .show()

+------+----+----------+------+
|  Name|Age |Experience|Salary|
+------+----+----------+------+
|Vishal|  22|         2| 10000|
+------+----+----------+------+